<h1 style="color:DarkOrange">2024 NIPDA Team Project - First Quarter</h1>

The 2024 NIPDA Team Projects dataset records data from multiple visits and screenings performed from January to October 2024. It includes details such as company information, geographical coordinates, sector activities, fee processing, document status, and officer assignments. This project aims to uncover actionable insights, streamline monthly reporting, and facilitate dynamic updates for continuous monitoring and evaluation.

The dataset contains information such as: 

    - Date of Visit: Date on which the visit occurred. 

    - Company Information: Name of the company visited. 

    - Location Details: Includes latitude, longitude, and region. 

    - Sector: The type of industry (e.g., Manufacturing, Energy). 

    - Undertaking and Description: Activities or projects undertaken by the company. 

    - Fees and Payments: Processing fees, permit fees, total charges, and payment status. 

    - Status: Status of processing (e.g., Pending, Paid, Permitted). 

    - Officer Assignments: Officers and personnel handling specific tasks.

## <span style="color:MediumSeaGreen"> Objectives <span>

Visits Overview 

        Total Visits: ___ 

        Most Common Sector: ___ 

        Sector with the Most Pending Status: ___ 

        Number of companies screened: ____ 

        Number of companies verified: ____ 

        Number of companies monitored: ____ 

        Officer performance: Number of visits or tasks assigned per officer.



 

 

Payments Summary 

        Total processing fees: ____ 

        Total Permit fees: ____ 

        Number of pending payments: ____ 

        Number of payments marked as completed: ____ 

        Total Revenue Collected: GHC ___ 

        Total Potential Revenue Collected: GHC ___ 

        Total Unpaid Amount: GHC ___ 

        Company with Highest Payment: ___

Activity Analysis 

        Most Common Activity: ___ 

        Status with the Highest Frequency: ___ 

        Personnel Contribution 

        Officer with Most Visits: ___ 

        Officer Assigned to the Most Pending Cases: ___

## <span style="color:MediumSeaGreen"> Imports and data reading <span>

In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
data_path = "/workspaces/PythonSpace/Projects/NIPDA/2024_NIPDA_Data.xlsx"
sheet_name = "1ST QUARTER 24"
data_read = pd.read_excel(data_path, sheet_name=sheet_name)

In [53]:
df_raw = data_read.copy()

In [54]:
df_raw.head(3)

,NO.,DATE OF MINUTING,DATE OF VISIT,COMPANY,LATITUDE,LONGITUDE,LOCATION,SECTOR,UNDERTAKING,DESCRIPTION,...,PROCESSING FEES,PERMIT FEES,TOTAL,PAID / UNPAID,STATUS,OFFICER 1,OFFICER 2,PERSONNEL,DRIVER,Unnamed: 21
0,1.0,2023-07-03,2024-01-10,CFH OIL INDUSTRY LIMITED,5.884278,0.266075,DAWA,MANUFACTURING,PLASTIC RECYCLING,PROPOSED PLASTIC & TYRE RECYCLING PROJECT,...,15000,NaN,15000.0,NaN,SCOPING REPORT PENDING,HANNAH,IVY,EUNICE,PATRICK,NaN
1,2.0,2023-07-03,2024-01-10,AWARRIOR LIMITED,5.824773,0.202750,TSOPOLI,MANUFACTURING,LPG BOTTLING,EXISTING LPG CYLINDER MANUFACTURING FACILITY,...,NaN,NaN,0.0,PAID,TRC,HANNAH,IVY,EUNICE,PATRICK,NaN
2,35.0,NaT,2024-01-29,NAOMI FARM,6.029019,0.051568,TEYE KWAME,AGRICULTURE,LIVESTOCK FARM,PROPOSED POULTRY FARM & PIGGERY,...,1155,NaN,1155.0,UNPAID,ZONING & PAYMENT PENDING,KLENAM,IVY,EUNICE,PATRICK,NaN

## <span style="color:MediumSeaGreen"> Data Cleaning <span>

In [55]:
df_unclean = df_raw.copy()
df_unclean.head(3)

,NO.,DATE OF MINUTING,DATE OF VISIT,COMPANY,LATITUDE,LONGITUDE,LOCATION,SECTOR,UNDERTAKING,DESCRIPTION,...,PROCESSING FEES,PERMIT FEES,TOTAL,PAID / UNPAID,STATUS,OFFICER 1,OFFICER 2,PERSONNEL,DRIVER,Unnamed: 21
0,1.0,2023-07-03,2024-01-10,CFH OIL INDUSTRY LIMITED,5.884278,0.266075,DAWA,MANUFACTURING,PLASTIC RECYCLING,PROPOSED PLASTIC & TYRE RECYCLING PROJECT,...,15000,NaN,15000.0,NaN,SCOPING REPORT PENDING,HANNAH,IVY,EUNICE,PATRICK,NaN
1,2.0,2023-07-03,2024-01-10,AWARRIOR LIMITED,5.824773,0.202750,TSOPOLI,MANUFACTURING,LPG BOTTLING,EXISTING LPG CYLINDER MANUFACTURING FACILITY,...,NaN,NaN,0.0,PAID,TRC,HANNAH,IVY,EUNICE,PATRICK,NaN
2,35.0,NaT,2024-01-29,NAOMI FARM,6.029019,0.051568,TEYE KWAME,AGRICULTURE,LIVESTOCK FARM,PROPOSED POULTRY FARM & PIGGERY,...,1155,NaN,1155.0,UNPAID,ZONING & PAYMENT PENDING,KLENAM,IVY,EUNICE,PATRICK,NaN

In [56]:
df_unclean.columns

Index(['NO.', 'DATE OF MINUTING', 'DATE OF VISIT', 'COMPANY', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'SECTOR', 'UNDERTAKING', 'DESCRIPTION',
       'ACTIVITY', 'DOCUMENT', 'PROCESSING FEES', 'PERMIT FEES', 'TOTAL',
       'PAID / UNPAID', 'STATUS', 'OFFICER 1', 'OFFICER 2', 'PERSONNEL',
       'DRIVER', 'Unnamed: 21'],
      dtype='object')

In [57]:
new_column_names = ['no.','date_of_minuting','date_of_visit','company','latitude','longitude','location','sector','undertaking','description','activity','document','processing_fee','permit_fee','total_fee','payment_status','status','officer_1','officer_2', 'personnel','driver','unnamed']

df_unclean.columns = new_column_names

In [58]:
# Select columns needed
columns_needed = ['date_of_visit','company','latitude','longitude','location','sector','undertaking','description','activity','document','processing_fee','permit_fee','total_fee','payment_status','status','officer_1','officer_2', 'personnel','driver']
df_unclean = df_unclean[columns_needed]
df_unclean.head(3)

,date_of_visit,company,latitude,longitude,location,sector,undertaking,description,activity,document,processing_fee,permit_fee,total_fee,payment_status,status,officer_1,officer_2,personnel,driver
0,2024-01-10,CFH OIL INDUSTRY LIMITED,5.884278,0.266075,DAWA,MANUFACTURING,PLASTIC RECYCLING,PROPOSED PLASTIC & TYRE RECYCLING PROJECT,SCREENING,FORM EA1,15000,NaN,15000.0,NaN,SCOPING REPORT PENDING,HANNAH,IVY,EUNICE,PATRICK
1,2024-01-10,AWARRIOR LIMITED,5.824773,0.202750,TSOPOLI,MANUFACTURING,LPG BOTTLING,EXISTING LPG CYLINDER MANUFACTURING FACILITY,MONITORING,ENFORCEMENT LETTER,NaN,NaN,0.0,PAID,TRC,HANNAH,IVY,EUNICE,PATRICK
2,2024-01-29,NAOMI FARM,6.029019,0.051568,TEYE KWAME,AGRICULTURE,LIVESTOCK FARM,PROPOSED POULTRY FARM & PIGGERY,SCREENING,FORM EA1,1155,NaN,1155.0,UNPAID,ZONING & PAYMENT PENDING,KLENAM,IVY,EUNICE,PATRICK

<span style="color:DarkOrange">Clean Date</span>

In [59]:
# Clean date
df_unclean.loc[:,'date_of_visit'] = pd.to_datetime(df_unclean['date_of_visit'], errors='coerce').dt.date

In [60]:
df_unclean.loc[:, 'month'] = pd.to_datetime(df_unclean['date_of_visit'], errors='coerce').dt.strftime('%b')
add_month_to_columns_needed = ['month'] + columns_needed
df_unclean = df_unclean[add_month_to_columns_needed]

In [61]:
df_unclean.head(3)

,month,date_of_visit,company,latitude,longitude,location,sector,undertaking,description,activity,document,processing_fee,permit_fee,total_fee,payment_status,status,officer_1,officer_2,personnel,driver
0,Jan,2024-01-10,CFH OIL INDUSTRY LIMITED,5.884278,0.266075,DAWA,MANUFACTURING,PLASTIC RECYCLING,PROPOSED PLASTIC & TYRE RECYCLING PROJECT,SCREENING,FORM EA1,15000,NaN,15000.0,NaN,SCOPING REPORT PENDING,HANNAH,IVY,EUNICE,PATRICK
1,Jan,2024-01-10,AWARRIOR LIMITED,5.824773,0.202750,TSOPOLI,MANUFACTURING,LPG BOTTLING,EXISTING LPG CYLINDER MANUFACTURING FACILITY,MONITORING,ENFORCEMENT LETTER,NaN,NaN,0.0,PAID,TRC,HANNAH,IVY,EUNICE,PATRICK
2,Jan,2024-01-29,NAOMI FARM,6.029019,0.051568,TEYE KWAME,AGRICULTURE,LIVESTOCK FARM,PROPOSED POULTRY FARM & PIGGERY,SCREENING,FORM EA1,1155,NaN,1155.0,UNPAID,ZONING & PAYMENT PENDING,KLENAM,IVY,EUNICE,PATRICK

In [69]:
finish_column_names = ['Month','Date of Visit','Company','Latitude','Longitude','Location','Sector','Undertaking','Description','Activity','Document','Processing Fee','Permit Fee','Total Fee','Payment Status','Status','Officer 1','Officer 2', 'Personnel','Driver']

df_export = df_unclean.copy()

df_export['date_of_visit'] = df_export['date_of_visit'].astype(str) # Change to string

if len(finish_column_names) == len(df_export.columns):
    df_export.columns = finish_column_names
else:
    print("Ooops !!! Column length dismatch")

In [74]:
import os

export = True

file_name = 'NIPDA_2024_Clean.xlsx'

if export:
    if os.path.exists(file_name):
        print(f"{file_name} already exists. Choose a different name or back up the file.")
    else:
        with pd.ExcelWriter(file_name) as writer:
            df_export.to_excel(writer, sheet_name='1ST QUARTER', index=False)
            print("Exported")
else:
    print("Not exported : Export is false")

NIPDA_2024_Clean.xlsx already exists. Choose a different name or back up the file.

## <span style="color:MediumSeaGreen"> Data Exploration <span>

In [75]:
df_explore = df_unclean.copy()

In [76]:
df_explore.head(3)

,month,date_of_visit,company,latitude,longitude,location,sector,undertaking,description,activity,document,processing_fee,permit_fee,total_fee,payment_status,status,officer_1,officer_2,personnel,driver
0,Jan,2024-01-10,CFH OIL INDUSTRY LIMITED,5.884278,0.266075,DAWA,MANUFACTURING,PLASTIC RECYCLING,PROPOSED PLASTIC & TYRE RECYCLING PROJECT,SCREENING,FORM EA1,15000,NaN,15000.0,NaN,SCOPING REPORT PENDING,HANNAH,IVY,EUNICE,PATRICK
1,Jan,2024-01-10,AWARRIOR LIMITED,5.824773,0.202750,TSOPOLI,MANUFACTURING,LPG BOTTLING,EXISTING LPG CYLINDER MANUFACTURING FACILITY,MONITORING,ENFORCEMENT LETTER,NaN,NaN,0.0,PAID,TRC,HANNAH,IVY,EUNICE,PATRICK
2,Jan,2024-01-29,NAOMI FARM,6.029019,0.051568,TEYE KWAME,AGRICULTURE,LIVESTOCK FARM,PROPOSED POULTRY FARM & PIGGERY,SCREENING,FORM EA1,1155,NaN,1155.0,UNPAID,ZONING & PAYMENT PENDING,KLENAM,IVY,EUNICE,PATRICK

### <span style="color:DarkOrange">Visit Overview</span>

In [79]:
# Total Visits: ___ 
df_explore['date_of_visit'].sum()

TypeError: 'DatetimeArray' with dtype datetime64[ns] does not support reduction 'sum'

In [ ]:
# Most Common Sector: ___

In [ ]:
# Sector with the Most Pending Status: ___

In [ ]:
# Number of companies screened: ____

In [ ]:
# Number of companies verified: ____

In [ ]:
# Number of companies monitored: ____

In [ ]:
# Officer performance: Number of visits or tasks assigned per officer.

## <span style="color:MediumSeaGreen"> Data Visualization <span>