<h1 style="color:DarkOrange">Road Accident</h1>

<h2 style="color:MediumSeaGreen">Objectives</h2>


CARDS

- Total Casualties
- Total Serious Casaulties
- Total Fatal Casaulties
- Total Slight Casaulties
- Total Casaulties by Car
- Casaulties By [Vehicle Types]

GRAPHS
- Casaulties by Monthly trends
- Casaulties by [Road Type]
- Casaulties by Road Surface
- Casaulties by Location
- Casualties by Day Night

<h2 style="color:MediumSeaGreen">Import and Reading of data</h2>

In [1]:
# Imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data_path = '/workspaces/PythonSpace/Datasource/Project/Road_accident.xlsx'
df_raw = pd.read_excel(data_path)

In [ ]:
df_unclean = df_raw

In [ ]:
df_unclean.head(5)

,Accident_Index,Accident Date,Day_of_Week,Junction_Control,Junction_Detail,Accident_Severity,Latitude,Light_Conditions,Local_Authority_(District),Carriageway_Hazards,...,Number_of_Casualties,Number_of_Vehicles,Police_Force,Road_Surface_Conditions,Road_Type,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200901BS70001,2021-01-01,Thursday,Give way or uncontrolled,T or staggered junction,Serious,51.512273,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,One way street,30,15:11:00,Urban,Fine no high winds,Car
1,200901BS70002,2021-01-05,Monday,Give way or uncontrolled,Crossroads,Serious,51.514399,Daylight,Kensington and Chelsea,NaN,...,11,2,Metropolitan Police,Wet or damp,Single carriageway,30,10:59:00,Urban,Fine no high winds,Taxi/Private hire car
2,200901BS70003,2021-01-04,Sunday,Give way or uncontrolled,T or staggered junction,Slight,51.486668,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,14:19:00,Urban,Fine no high winds,Taxi/Private hire car
3,200901BS70004,2021-01-05,Monday,Auto traffic signal,T or staggered junction,Serious,51.507804,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Frost or ice,Single carriageway,30,08:10:00,Urban,Other,Motorcycle over 500cc
4,200901BS70005,2021-01-06,Tuesday,Auto traffic signal,Crossroads,Serious,51.482076,Darkness - lights lit,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,17:25:00,Urban,Fine no high winds,Car

<h2 style="color:MediumSeaGreen">Data Cleaning<h2>

In [ ]:
# Remove column names not needed in analysis

columns_to_drop = ['Local_Authority_(District)', 'Carriageway_Hazards', 'Accident_Index', 'Latitude', 'Longitude', 'Carriageway_Hazards', 'Number_of_Vehicles', 'Police_Force', 'Speed_limit', 'Time', 'Weather_Conditions', 'Junction_Control', 'Junction_Detail']

# Checking if column name exist before droping it
for column in columns_to_drop:
    if column in df_unclean.columns:
        df_unclean = df_unclean.drop(columns = column)

In [ ]:
# Rename column name

column_names = [ 'date', 'day', 'severity', 'light_condition', 'number_of_casualties', 'road_condition', 'road_type', 'location', 'vehicle_type']

df_unclean.columns = column_names

<span style="color:#f39c12"> Clean Date <span>

In [ ]:
# Create a column for year
df_unclean['year'] = pd.to_datetime(df_unclean['date']).dt.year
df_unclean['month'] = pd.to_datetime(df_unclean['date']).dt.strftime('%b')

In [ ]:
# Reorder coumns. Excluded date
df_unclean = df_unclean[['year', 'month', 'day', 'severity', 'light_condition', 'number_of_casualties', 'road_condition', 'road_type', 'location', 'vehicle_type']]

df_unclean = df_unclean.set_index('year').sort_index()

In [ ]:
df_unclean.head()

,month,day,severity,light_condition,number_of_casualties,road_condition,road_type,location,vehicle_type
year,,,,,,,,,
2021,Jan,Thursday,Serious,Daylight,1,Dry,One way street,Urban,Car
2021,Jan,Monday,Serious,Daylight,11,Wet or damp,Single carriageway,Urban,Taxi/Private hire car
2021,Jan,Sunday,Slight,Daylight,1,Dry,Single carriageway,Urban,Taxi/Private hire car
2021,Jan,Monday,Serious,Daylight,1,Frost or ice,Single carriageway,Urban,Motorcycle over 500cc
2021,Jan,Tuesday,Serious,Darkness - lights lit,1,Dry,Single carriageway,Urban,Car

<span style="color:#f39c12"> Clean Severity <span>

In [ ]:
# Get distinct values in the severity column
df_unclean['severity'].unique()

array(['Serious', 'Slight', 'Fetal', 'Fatal'], dtype=object)

In [ ]:
# Clean up severity column with replacement of values
if 'Fetal' in df_unclean['severity'].values:
    df_unclean.loc[df_unclean['severity'] == 'Fetal', 'severity'] = 'Fatal'

df_unclean['severity'].unique()

array(['Serious', 'Slight', 'Fatal'], dtype=object)

<div style="color:DarkOrange">Light Condition</div>

In [ ]:
# Get distinct values in the light condition column
df_unclean['light_condition'].unique()

array(['Daylight', 'Darkness - lights lit', 'Darkness - lighting unknown',
       'Darkness - lights unlit', 'Darkness - no lighting'], dtype=object)

In [ ]:
# Clean up light condition column with replacement of values
light_condition_darkness_errors = ['Darkness - lights lit', 'Darkness - lighting unknown',
       'Darkness - lights unlit', 'Darkness - no lighting']

for error in light_condition_darkness_errors:
    if error in df_unclean['light_condition'].values:
        df_unclean.loc[df_unclean['light_condition'] == error, 'light_condition'] = 'Darkness'

In [ ]:
df_unclean['light_condition'].unique()

array(['Daylight', 'Darkness'], dtype=object)

<div style="color:DarkOrange"> Clean number of casualties </div>

In [ ]:
# Sort and print out unique values
distinct_num_of_casualties = [int(value) for value in df_unclean['number_of_casualties'].unique()]
print(sorted(distinct_num_of_casualties))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 26, 27, 40, 42, 43, 48]

In [ ]:
df_unclean.head()

,month,day,severity,light_condition,number_of_casualties,road_condition,road_type,location,vehicle_type
year,,,,,,,,,
2021,Jan,Thursday,Serious,Daylight,1,Dry,One way street,Urban,Car
2021,Jan,Monday,Serious,Daylight,11,Wet or damp,Single carriageway,Urban,Taxi/Private hire car
2021,Jan,Sunday,Slight,Daylight,1,Dry,Single carriageway,Urban,Taxi/Private hire car
2021,Jan,Monday,Serious,Daylight,1,Frost or ice,Single carriageway,Urban,Motorcycle over 500cc
2021,Jan,Tuesday,Serious,Darkness,1,Dry,Single carriageway,Urban,Car

<div style="color:DarkOrange">Clean Road Condition</div>

In [ ]:
df_unclean['road_condition'].unique()

<h2 style="color:MediumSeaGreen">Data Exploration<h2>

<h2 style="color:MediumSeaGreen">Data Visualization<h2>

<h2 style="color:MediumSeaGreen">Conclusion<h2>

<span style="color:DarkOrange"> orange </span>
<span style="color:MediumSeaGreen"> green </span>
<span style="color:Tomato"> red </span>
<span style="color:DodgerBlue"> blue </span>
<span style="color:#9b59b6"> purple </span>
<span style="color:#1abc9c"> teal </span>