<h1 style="color:DarkOrange">Road Accident</h1>

## <span style="color:MediumSeaGreen">Objectives</span>


CARDS

- Total Casualties
- Total Serious Casaulties
- Total Fatal Casaulties
- Total Slight Casaulties
- Total Casaulties by Car
- Casaulties By [Vehicle Types]

GRAPHS
- Casaulties by Monthly trends
- Casaulties by [Road Type]
- Casaulties by Road Surface
- Casaulties by Location
- Casualties by Day Night

## <span style="color:MediumSeaGreen">Import and Reading of data</span>

In [1]:
# Imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_path = '/workspaces/PythonSpace/Datasource/Project/Road_accident.xlsx'
df_raw = pd.read_excel(data_path)

In [ ]:
df_raw.head(5)

,Accident_Index,Accident Date,Day_of_Week,Junction_Control,Junction_Detail,Accident_Severity,Latitude,Light_Conditions,Local_Authority_(District),Carriageway_Hazards,...,Number_of_Casualties,Number_of_Vehicles,Police_Force,Road_Surface_Conditions,Road_Type,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200901BS70001,2021-01-01,Thursday,Give way or uncontrolled,T or staggered junction,Serious,51.512273,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,One way street,30,15:11:00,Urban,Fine no high winds,Car
1,200901BS70002,2021-01-05,Monday,Give way or uncontrolled,Crossroads,Serious,51.514399,Daylight,Kensington and Chelsea,NaN,...,11,2,Metropolitan Police,Wet or damp,Single carriageway,30,10:59:00,Urban,Fine no high winds,Taxi/Private hire car
2,200901BS70003,2021-01-04,Sunday,Give way or uncontrolled,T or staggered junction,Slight,51.486668,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,14:19:00,Urban,Fine no high winds,Taxi/Private hire car
3,200901BS70004,2021-01-05,Monday,Auto traffic signal,T or staggered junction,Serious,51.507804,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Frost or ice,Single carriageway,30,08:10:00,Urban,Other,Motorcycle over 500cc
4,200901BS70005,2021-01-06,Tuesday,Auto traffic signal,Crossroads,Serious,51.482076,Darkness - lights lit,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,17:25:00,Urban,Fine no high winds,Car

## <span style="color:MediumSeaGreen">Data Cleaning</span>

In [122]:
df_unclean = df_raw
df_unclean.head()

,Accident_Index,Accident Date,Day_of_Week,Junction_Control,Junction_Detail,Accident_Severity,Latitude,Light_Conditions,Local_Authority_(District),Carriageway_Hazards,...,Number_of_Casualties,Number_of_Vehicles,Police_Force,Road_Surface_Conditions,Road_Type,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200901BS70001,2021-01-01,Thursday,Give way or uncontrolled,T or staggered junction,Serious,51.512273,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,One way street,30,15:11:00,Urban,Fine no high winds,Car
1,200901BS70002,2021-01-05,Monday,Give way or uncontrolled,Crossroads,Serious,51.514399,Daylight,Kensington and Chelsea,NaN,...,11,2,Metropolitan Police,Wet or damp,Single carriageway,30,10:59:00,Urban,Fine no high winds,Taxi/Private hire car
2,200901BS70003,2021-01-04,Sunday,Give way or uncontrolled,T or staggered junction,Slight,51.486668,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,14:19:00,Urban,Fine no high winds,Taxi/Private hire car
3,200901BS70004,2021-01-05,Monday,Auto traffic signal,T or staggered junction,Serious,51.507804,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Frost or ice,Single carriageway,30,08:10:00,Urban,Other,Motorcycle over 500cc
4,200901BS70005,2021-01-06,Tuesday,Auto traffic signal,Crossroads,Serious,51.482076,Darkness - lights lit,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,17:25:00,Urban,Fine no high winds,Car

In [123]:
# Remove column names not needed in analysis

columns_to_drop = ['Local_Authority_(District)', 'Carriageway_Hazards', 'Accident_Index', 'Latitude', 'Longitude', 'Carriageway_Hazards', 'Number_of_Vehicles', 'Police_Force', 'Speed_limit', 'Time', 'Weather_Conditions', 'Junction_Control', 'Junction_Detail']

# Checking if column name exist before droping it
for column in columns_to_drop:
    if column in df_unclean.columns:
        df_unclean = df_unclean.drop(columns = column)

In [124]:
# Rename column name

column_names = [ 'date', 'day', 'severity', 'light_condition', 'number_of_casualties', 'road_condition', 'road_type', 'location', 'vehicle_type']

df_unclean.columns = column_names

<span style="color:#f39c12"> Clean Date <span>

In [125]:
# Create a column for year
df_unclean['year'] = pd.to_datetime(df_unclean['date']).dt.year
df_unclean['month'] = pd.to_datetime(df_unclean['date']).dt.strftime('%b')

In [126]:
# Reorder coumns. Excluded date
df_unclean = df_unclean[['year', 'month', 'day', 'severity', 'light_condition', 'number_of_casualties', 'road_condition', 'road_type', 'location', 'vehicle_type']]

df_unclean = df_unclean.set_index('year').sort_index()

In [127]:
df_unclean.head()

,month,day,severity,light_condition,number_of_casualties,road_condition,road_type,location,vehicle_type
year,,,,,,,,,
2021,Jan,Thursday,Serious,Daylight,1,Dry,One way street,Urban,Car
2021,Jan,Monday,Serious,Daylight,11,Wet or damp,Single carriageway,Urban,Taxi/Private hire car
2021,Jan,Sunday,Slight,Daylight,1,Dry,Single carriageway,Urban,Taxi/Private hire car
2021,Jan,Monday,Serious,Daylight,1,Frost or ice,Single carriageway,Urban,Motorcycle over 500cc
2021,Jan,Tuesday,Serious,Darkness - lights lit,1,Dry,Single carriageway,Urban,Car

<span style="color:#f39c12"> Clean Severity <span>

In [128]:
# Get distinct values in the severity column
print(df_unclean['severity'].unique())

['Serious' 'Slight' 'Fetal' 'Fatal']

In [129]:
# Clean up severity column with replacement of values
if 'Fetal' in df_unclean['severity'].values:
    df_unclean.loc[df_unclean['severity'] == 'Fetal', 'severity'] = 'Fatal'

print(df_unclean['severity'].unique())

['Serious' 'Slight' 'Fatal']

<div style="color:DarkOrange">Light Condition</div>

In [130]:
# Get distinct values in the light condition column
print(df_unclean['light_condition'].unique())

['Daylight' 'Darkness - lights lit' 'Darkness - lighting unknown'
 'Darkness - lights unlit' 'Darkness - no lighting']

In [131]:
# Clean up light condition column with replacement of values
light_condition_darkness_errors = ['Darkness - lights lit', 'Darkness - lighting unknown',
       'Darkness - lights unlit', 'Darkness - no lighting']

for error in light_condition_darkness_errors:
    if error in df_unclean['light_condition'].values:
        df_unclean.loc[df_unclean['light_condition'] == error, 'light_condition'] = 'Darkness'

In [132]:
print(df_unclean['light_condition'].unique())

['Daylight' 'Darkness']

<div style="color:DarkOrange"> Clean number of casualties </div>

In [133]:
# Sort and print out unique values
distinct_num_of_casualties = [int(value) for value in df_unclean['number_of_casualties'].unique()]
print(sorted(distinct_num_of_casualties))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 26, 27, 40, 42, 43, 48]

In [134]:
df_unclean.head()

,month,day,severity,light_condition,number_of_casualties,road_condition,road_type,location,vehicle_type
year,,,,,,,,,
2021,Jan,Thursday,Serious,Daylight,1,Dry,One way street,Urban,Car
2021,Jan,Monday,Serious,Daylight,11,Wet or damp,Single carriageway,Urban,Taxi/Private hire car
2021,Jan,Sunday,Slight,Daylight,1,Dry,Single carriageway,Urban,Taxi/Private hire car
2021,Jan,Monday,Serious,Daylight,1,Frost or ice,Single carriageway,Urban,Motorcycle over 500cc
2021,Jan,Tuesday,Serious,Darkness,1,Dry,Single carriageway,Urban,Car

<div style="color:DarkOrange">Clean Road Condition</div>

In [135]:
print(df_unclean['road_condition'].unique())

['Dry' 'Wet or damp' 'Frost or ice' 'Snow' 'Flood over 3cm. deep' nan]

In [136]:
# Clean up road condition column with replacement of values
road_condition_values = {'Wet or damp':'Damp', 'Frost or ice':'Frost', 'Flood over 3cm. deep': 'Flood'}
for condition in road_condition_values.keys():
    if condition in df_unclean['road_condition'].values:
        df_unclean.loc[df_unclean['road_condition'] == condition,'road_condition'] = road_condition_values[condition]

In [137]:
# Replace empty/nan value with 'Unknown'
df_unclean['road_condition'] = df_unclean['road_condition'].fillna('Unknown')
print(df_unclean['road_condition'].unique())

['Dry' 'Damp' 'Frost' 'Snow' 'Flood' 'Unknown']

<div style="color:DarkOrange"> Clean Road Type </div>

In [138]:
print(df_unclean['road_type'].unique())

['One way street' 'Single carriageway' 'Dual carriageway' 'Roundabout'
 'Slip road' nan]

In [139]:
# Replace empty/nan value with 'Unknown'

df_unclean['road_type'] = df_unclean['road_type'].fillna('Unknown')
print(df_unclean['road_type'].unique())

['One way street' 'Single carriageway' 'Dual carriageway' 'Roundabout'
 'Slip road' 'Unknown']

In [140]:
df_unclean.head()

,month,day,severity,light_condition,number_of_casualties,road_condition,road_type,location,vehicle_type
year,,,,,,,,,
2021,Jan,Thursday,Serious,Daylight,1,Dry,One way street,Urban,Car
2021,Jan,Monday,Serious,Daylight,11,Damp,Single carriageway,Urban,Taxi/Private hire car
2021,Jan,Sunday,Slight,Daylight,1,Dry,Single carriageway,Urban,Taxi/Private hire car
2021,Jan,Monday,Serious,Daylight,1,Frost,Single carriageway,Urban,Motorcycle over 500cc
2021,Jan,Tuesday,Serious,Darkness,1,Dry,Single carriageway,Urban,Car

<div style="color:DarkOrange" > Clean Vehicle Type </div>

In [141]:
print(df_unclean['vehicle_type'].unique())

['Car' 'Taxi/Private hire car' 'Motorcycle over 500cc'
 'Van / Goods 3.5 tonnes mgw or under' 'Goods over 3.5t. and under 7.5t'
 'Motorcycle 125cc and under' 'Motorcycle 50cc and under'
 'Bus or coach (17 or more pass seats)' 'Goods 7.5 tonnes mgw and over'
 'Other vehicle' 'Motorcycle over 125cc and up to 500cc'
 'Agricultural vehicle' 'Minibus (8 - 16 passenger seats)' 'Pedal cycle'
 'Ridden horse']

In [142]:
vehicle_type_name_maintain = ['Car', 'Other vehicle', 'Agricultural vehicle', 'Pedal cycle',
 'Ridden horse']
vehicle_type_name_to_change = {'Taxi/Private hire car' : 'Taxi', 'Motorcycle over 500cc' : 'Motocycle', 'Van / Goods 3.5 tonnes mgw or under' : 'Van', 'Motorcycle 125cc and under' : 'Motocycle', 'Motorcycle 50cc and under' : 'Motocycle', 'Bus or coach (17 or more pass seats)' : 'Bus', 'Motorcycle over 125cc and up to 500cc' : 'Motocycle', 'Minibus (8 - 16 passenger seats)' : 'Bus', 'Goods over 3.5t. and under 7.5t' : 'Other vehicle', 'Goods 7.5 tonnes mgw and over':'Other vehicle'
}

for vehicle_name in vehicle_type_name_to_change.keys():
    if vehicle_name in df_unclean['vehicle_type'].values:
        df_unclean.loc[df_unclean['vehicle_type'] == vehicle_name, 'vehicle_type'] = vehicle_type_name_to_change[vehicle_name]

In [143]:
print(df_unclean['vehicle_type'].unique())

['Car' 'Taxi' 'Motocycle' 'Van' 'Other vehicle' 'Bus'
 'Agricultural vehicle' 'Pedal cycle' 'Ridden horse']

<div style="color:DarkOrange"> Assign Cleaned Data </div>

In [145]:
df_clean = df_unclean
df_clean

,month,day,severity,light_condition,number_of_casualties,road_condition,road_type,location,vehicle_type
year,,,,,,,,,
2021,Jan,Thursday,Serious,Daylight,1,Dry,One way street,Urban,Car
2021,Jan,Monday,Serious,Daylight,11,Damp,Single carriageway,Urban,Taxi
2021,Jan,Sunday,Slight,Daylight,1,Dry,Single carriageway,Urban,Taxi
2021,Jan,Monday,Serious,Daylight,1,Frost,Single carriageway,Urban,Motocycle
2021,Jan,Tuesday,Serious,Darkness,1,Dry,Single carriageway,Urban,Car
...,...,...,...,...,...,...,...,...,...
2022,Feb,Thursday,Slight,Daylight,2,Dry,Single carriageway,Rural,Car
2022,Feb,Sunday,Slight,Darkness,1,Frost,Single carriageway,Rural,Car
2022,Feb,Tuesday,Slight,Daylight,1,Frost,Single carriageway,Rural,Car
2022,Feb,Tuesday,Serious,Darkness,1,Damp,Single carriageway,Rural,Motocycle
2022,Feb,Sunday,Serious,Daylight,1,Damp,Dual carriageway,Rural,Car

## <span style="color:MediumSeaGreen">Data Exploration</span>

In [147]:
df_explore = df_clean
df_explore.head()

,month,day,severity,light_condition,number_of_casualties,road_condition,road_type,location,vehicle_type
year,,,,,,,,,
2021,Jan,Thursday,Serious,Daylight,1,Dry,One way street,Urban,Car
2021,Jan,Monday,Serious,Daylight,11,Damp,Single carriageway,Urban,Taxi
2021,Jan,Sunday,Slight,Daylight,1,Dry,Single carriageway,Urban,Taxi
2021,Jan,Monday,Serious,Daylight,1,Frost,Single carriageway,Urban,Motocycle
2021,Jan,Tuesday,Serious,Darkness,1,Dry,Single carriageway,Urban,Car

## <span style="color:MediumSeaGreen">Data Visualization</span>

## <span style="color:MediumSeaGreen">Conclusion</span>

<span style="color:DarkOrange"> orange </span>
<span style="color:MediumSeaGreen"> green </span>
<span style="color:Tomato"> red </span>
<span style="color:DodgerBlue"> blue </span>
<span style="color:#9b59b6"> purple </span>
<span style="color:#1abc9c"> teal </span>